*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
    
}
.all-background{
    margin-left: 200px;
    opacity: 0.4;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body{
    position: relative;
    z-index: 1;
    background-color: black;
    overflow-x: hidden;
}

.all-content{
    margin-left: 200px;
    z-index: 2;
    background-image: url(../img/background.jpg);
    transition: filter 600ms ease;
}

.img-backgroung{
    position: absolute;
    z-index: 0;
    width: 100%;
}


.intro{
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 110vh;
    background-color: aliceblue;
    z-index: 999;
    opacity: 1;


    transition: all 1.2s ease;
}

/*
#pablo-duran-intro{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1000;    
    
    transition: all 1.2s ease;
}
*/
#pablo-duran-intro-h1{
    position: absolute;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 130px;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    transition: all 1s ease, opacity 400ms ease;
    
}

.button-menu-fixed{
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 101;
    transition: all 500ms ease;
    opacity: 0;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.button-menu-fixed h1{
    font-family: "Quicksand", sans-serif;
}

button{
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(0, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.span-button{
    position: absolute;
    width: 70%;
    height: 5px;
    background-color: black;
    display: block;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform 500ms ease, width 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.l1{
    transform: translate(-50%,-15px);
}

.l3{
    transform: translate(-50%, 10px);
}



.activo .l1{
    transform: translate(-50%, -50%) rotate(45deg);
}

.activo .l3{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.activo .l2{
    width: 0;
}





/*-------------------------------Header-----------------------------------*/

header{
    position: relative;
    height: 100%;
    position: fixed;
    width: 200px;
    overflow: hidden;
    background-color: aliceblue;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.2, 0, 0.745, 0.715), margin-top 0s ease;

    -webkit-box-shadow: -2px 0px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 21px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 21px 0px rgba(0,0,0,0.75);
}

.social-media-container{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    padding: 10px 0;
    border-top: 2px solid black;
    border-bottom:  2px solid black;
}

.social-media-container img{
    width: 38px;
    height: 38px;
    filter: brightness(0);
    transition: all 300ms ease;
}

.social-media-container img:hover{
    filter: brightness(1);
}


.pablo-duran-menu{
    position: relative;
    height: 150px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pablo-duran-menu:before{
    position: absolute;
    content: '';
    width: 80%;
    height: 4px;
    background: rgb(0, 0, 0);
    bottom: 0;
    border-radius: 30%;

}

.pablo-duran-menu h1{
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 45px;
}

.menu{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

.menu nav ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
}

.menu nav ul li{
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0);

    transition: all 400ms ease;
}

.menu nav ul li:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.082);
}

.menu nav ul li:hover a{
    font-weight: 800;
}



.menu nav ul li:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2%;
    background: rgb(0, 0, 0);
    bottom: 0;
    border-radius: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.menu nav ul li a{
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    color: black;

    transition: all 400ms ease;
}

.menu nav ul li img{
    height: 40px;
    width: 40px;
    filter: brightness(0);
    transition: all 400ms ease;
}

.img-menu_active{
    filter: brightness(1);
}



/*-------------Fin Header----------------------*/

/*------------------------------Cover-------------------------------------*/

.cover{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
}

.cover img{
    transform: translateY(-80px);
    width: 100vw;
    z-index: 3;
    
}

@media (max-width: 1920px){
    .cover img{
        height: 100%;
        width: auto;
        transform: translateY(0);
    }

    .cover{
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 1000px){
    .cover img{
        transform: translateX(100px);
    }
}

@media (max-width: 550px){
    .cover img{
        transform: translateX(150px);
    }
}

/*---------------------Fin cover-----------------------------*/

/*------------------------------Sobre mi-------------------------------------*/

.title{
    width: 100%;
    height: 80px;
    background-color: rgb(17, 117, 84);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    font-family: "Quicksand", sans-serif;
    color: white;
}

.title-h1{
    font-size: 40px;
    transform: translateX(-200px);
    opacity: 0;
    filter: blur(3px);

    transition: opacity 1s ease, transform 1.5s ease, filter 2s ease;
}

.about-me-container{
    width: 60%;
    margin: 50px auto;
}

.about-me-container p{
    font-family: "Athiti", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 21px;
}


@media (max-width: 1325px){
    .about-me-container{
        width: 80%;
    }
}
/*-------------------Fin Sobre mi-------------------*/

/*------------------------------Projects-------------------------------------*/

.projects-container-all{
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.projects-container{
    position: relative;
    height: 480px;
    border-radius: 30px;
    overflow: hidden;
    width: 48%;
    max-width: 500px;
    border: 4px solid rgb(101, 172, 148);


    -webkit-box-shadow: 0px 0px 50px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -21px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -21px rgba(0,0,0,0.75);
}

.projects-container:last-child{
    order: 1;
}

.projects-container-button{
    position: relative;
    height: 45px;
    width: 100%;
    top: 0;
    font-size: 35px;
    cursor: pointer;
    background-color: rgb(101, 172, 148);
    transition: all 700ms  ease;

}

.projects-container-button i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.fa-angles-down{
    opacity: 0;
}

.projects-container-button:hover{
    filter: brightness(2);
}

.projects-container-button:hover i{
    
}

.projects-container-info{
    position: absolute;
    width: 100%;
    height: 200px;
    backdrop-filter: blur(4px) brightness(0.3);
    -webkit-backdrop-filter: blur(4px) brightness(0.3);
    -moz-backdrop-filter: blur(4px) brightness(0.3);
    bottom: 0;

    transition: all 1s ease;
}



.projects-container-info_active{
    height: 100%;
    backdrop-filter: blur(4px) brightness(0.1);
}

.projects-container-info h2{
    font-size: 42px;
    color: white;
    font-family: "Athiti", sans-serif;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-container-info p{
    color: white;   
    height: 300px;
    font-size: 20px;
    padding: 0 30px;
}

.projects-container video{
    width: 100%;
}

.projects-container-info-content{
    position: relative;
    width: 480px;
    height: 70%;
    display: flex;
    flex-direction: row;

}

.fa-arrow-up-right-from-square{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 40px;
    color: white;
}

.project-info-left{
    height: 80% !important;
    width: 60%
}

.project-info-right{
    height: 65% !important;
    border-left: 2px solid white ;
}


@media (max-width: 1550px){
    .projects-container{
        height: auto;
        min-height: 520px;
        min-width: 470px;
    }

    .projects-container-info-content{
        width: 100%;
    }
    
}

@media (max-width: 1550px){
    .projects-container-all{
        width: 100%;
        padding: 35px 30px;
    }
}

@media (max-width: 780px){
    .projects-container{
        min-width: auto;
        width: fit-content;
    }
}

@media (max-width: 500px){
    .projects-container-info-content{
        flex-direction: column;
        align-items: center;
    }

    .projects-container-info p{
        font-size: 18px;
    }

    .project-info-right{
        padding-top: 10px !important;
        border-left: 0;
        border-top: 2px solid white ;
        width: 60%;
    }

    .project-info-left{
        width: 100%;
    }

    .title-reserve{
        font-size: 30px !important;
    }
}

@media (max-width: 430px){
    .project-info-left{
        margin-bottom: 16px;
    }

    .projects-container-info h2{
        font-size: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects-container video{
        width: auto;
        height: 350px;
    }
}

/*-------------------End projects-------------------*/



/*---------------------------Skills-----------------------------*/

.skills-container-all {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin: 40px auto;
    flex-wrap: wrap;
    padding: 0 40px;
}

.skills-container-all img{
    height: 110px;
    width: 110px;
}

.container-skills-individual{
    position: relative;
    min-width: fit-content;
    max-width: 70%;
    min-height: 230px;
    max-height: fit-content;
    padding:  0px 30px 0 30px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;

    -webkit-box-shadow: 0px 0px 50px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -21px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px -21px rgba(0,0,0,0.75);
}

.container-skills-individual-other{
    gap: 0 !important;
    min-height: 280px;
    min-width: auto;
    height: fit-content;
    padding-bottom: 20px;
    margin: 10px 100px;
    padding: 0 px;
    box-sizing:content-box;
}

#container-skills-electronic{
    margin: 0 20px;
}

.container-skills-cms{
    margin: 10px 20px;
}

.container-skills-individual h2{
    height: 45px;
    display: flex;
    min-width: 50%;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-family: "Athiti", sans-serif;
    text-wrap: nowrap;
}

.container-skills-individual h4{
    font-family: "Athiti", sans-serif;
    font-size: 18px;
    font-weight: 400;
}


.container-skills-other-imgs{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;

}

.container-skills-individual h3{
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    top: 15px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.397);
    font-size: 18px;
    margin: 10px 0;
    font-family: "Athiti", sans-serif;
}

.container-skills-other{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

#img-sony{
    width: 100px;
    height: 100px;
}

#img-sony h2{
    font-family: "Athiti", sans-serif;
}

#img-sony h2{
    width: 100px;
    height: 100px;
}

#img-ps{
    width: 100px;
    height: 100px;
}

.sony-vegas-h2{
    font-size: 18px !important;
    text-wrap: nowrap;
    font-family: "Athiti", sans-serif;
}

@media (max-width: 730px){
    .container-skills-individual-other{
        max-width: 100%;
        margin: 10px 0;
    }

    #container-skills-electronic{
        margin: 0 0px;;
    }
}

@media (max-width: 655px){
    .skills-container-all{
        justify-content: center;
        padding: 0 7%;
    }

    

}

@media (max-width: 484px){
    .container-skills-individual{
        width: 100%;
        max-width: none;
    } 
}

/*-------------------End Skills---------------------*/

/*---------------------Start Education----------------------------*/

.education-container-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
}

#education-container-all-h2{
    height: 50px;
    width: 30%;
    border-radius: 3px;
    background-color: rgb(17, 117, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    transform: translateY(15px);
}

#education-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    padding: 0 10%;
    width: 100%;
}

.education-container-individual{
    position: relative;
    background-color: rgb(238, 238, 238);
    min-height: 250px;
    width: 70%;
    max-width: 700px;
    padding: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    -webkit-box-shadow: 0px 0px 50px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 50px -21px rgba(0,0,0,0.75);
}

.flecha-education{
    right: 4% !important;
    bottom: 7%;
    left: auto;
    transform: translate(0);
    font-size: 35px;
    opacity: 0.5;
    color: black;
    cursor: pointer;
}

.evidence-education-all{
    position: fixed;
    width: calc(100% - 200px);
    height: 100%;
    overflow: hidden;
    top: 50%;
    transform: translate(0, -50%);
    backdrop-filter: blur(3px) brightness(0.5);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 9999999;

    transition: opacity 600ms ease;
}

.evidence-education{
    max-height: 90%;
    width: 700px;
    background-color: rgb(197, 197, 197);
    opacity: 1;
    cursor: default !important;
    z-index: 9999999;
    margin: 0 20px;
    overflow: hidden;
    overflow-y: auto;
}

.evidence-education img{
    width: 100%;
}

.fa-xmark{
    position: absolute;
    font-size: 60px;
    top: 3%;
    right: 3%;
    cursor: pointer;
    color: white;
}

.evidence-new-window-button{
    position: absolute;
    font-size: 28px;
    top: 4.2%;
    right: 7%;
    z-index: 999999999;
    padding: 7px;
    border-radius: 10px;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.evidence-new-window-button p{
    margin-right: 20px;
}

.flecha-new-window{
    font-size: 20px;
    color: rgb(49, 49, 49);
    position: static;
}

#education-container-lenguages{
    width: 100%;
}

.text{
    font-family: "Athiti", sans-serif;
    line-height: 1.5;
}

.text h1{
    line-height: 1;
}

.text span{
    font-size: 20px;
}

@media (max-height: 870px){
    .evidence-new-window-button{
        top: 3%;
    }
    
    .fa-xmark{
        top: 2%;
    }
}


@media (max-width: 1750px){
    .evidence-education{
        max-height: 80%;
    }
}

@media (max-width: 1150px){
    .evidence-education-all{
        width: 100%;
    }
}

@media (max-width: 1350px){
    #education-container{
        padding: 0 7%;
    }
}

@media (max-width: 1050px){
    #education-container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .evidence-new-window-button{
        right: 12%;
    }
}

@media (max-width: 670px){

    .education-container-individual{
        width: 100%;
    }

    .evidence-new-window-button{
        right: 18%;
    }
}

@media (max-width: 360px){
    .evidence-new-window-button{
        margin-left: 8px;
        right: 18.2%;
    }
    .evidence-new-window-button p{
        font-size: 15px;
    }
}

@media (max-height: 630px){
    .evidence-education{
        max-height: 70%;
    }
}




/*------------------End Education------------------*/


/*---------------------Start Contact----------------------------*/

.contact-form-container{
    width: 100%;
}

.contact-form-inputs-container{
    padding: 60px 0;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-inputs-container label{
    font-size: 22px;
    align-self: flex-start;
}

.contact-form-inputs-container input{

}

.input-text-contact{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(226, 238, 248);
    font-size: 20px;
    border-radius: 5px;


    -webkit-box-shadow: 0px 0px 54px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 54px -29px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 54px -29px rgba(0,0,0,0.75);
}

.button-contact{
    width: 50%;
    height: 40px;
    background-color: rgb(37, 105, 83);
    font-size: 22px;
    cursor: pointer;
    transition: all 300ms ease;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message{
    font-size: 18px;
}

.button-contact:hover{
    filter: brightness(1.4);
}

@media (max-width: 680px){
    .contact-form-inputs-container{
        width: 100%;
        padding: 60px 40px;
    }
}



/*------------------End Contact------------------*/

/*---------------------Start Blog----------------------------*/

.blog-container-all{
    position: relative;
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.blog-container-all h1{
    position: absolute;
    transform: translate(-80px, 10px);
    font-weight: 500;
}

.blog-container-all h2{
    font-weight: 600;
    cursor: pointer;
    text-decoration-line: underline;
}

.blog-container-all h3{
    font-weight: 600;
}

.container-blog-individual{
    padding: 10px;
    backdrop-filter: blur(2px);
    border-radius: 5px;
}

/*------------------End Blog------------------*/
